body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.bg-intermediary {
    background-color: #6c757d; /* Cor intermediária */
}
    
.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;    
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: calc(100% - 10px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.form-group select {
    appearance: none;
    -webkit-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="black"height="24" viewBox="0 0 24 24" width="24"xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M00h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 15px;
}

.form-group input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.form-group input[type="submit"]:hover {
        
    background-color: #0056b3;
}
.response {
    margin-top: 20px;
    text-align: justify;
}